.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 1184px;
  max-height: 740px;
  padding: 245px 312px;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    padding: 70px 48px;
  }
}
