.intro__list {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  max-width: 984px;
  margin: 33px auto 0 auto;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .intro__list {
    margin-top: 34px;
  }
}
